<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.June.User.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.June.Common.pojo.Address">
        <id column="addressid" property="addressid" />
        <result column="userid" property="userid" />
        <result column="address" property="address" />
        <result column="telephone" property="telephone" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        addressid, userid, address, telephone, username
    </sql>

    <select id="getAddressById" resultType="com.June.Common.pojo.Address">
        select
            a.addressid,
            a.userid,
            a.address,
            a.telephone,
            a.username
        from
	        address as a
	    where
	        a.addressid=#{defaultaddress} and a.userid=#{id}
    </select>

    <select id="getAddressesById" resultType="com.June.Common.pojo.Address">
        select
            a.addressid,
            a.userid,
            a.address,
            a.telephone,
            a.username
        from
	        address as a
	    where
	        a.userid=#{id}
    </select>


    <select id="getNewAddressid" resultType="java.lang.Integer">
        select max(LAST_INSERT_ID(addressid)) from address where userid=#{userid};
    </select
</mapper>
